body {
  font-family: "Roboto", sans-serif;
  background-color: #186fc0;
}
.top-section {
  display: flex;
  background-color: #42a5f5;
  padding: 30px;
}
.middle-section {
  display: inline-flex;
}

.left-part {
  display: inline;
  padding-left: 0;
}
#logo {
  padding-right: 50%;
  font-size: bold;
}
#link {
  margin-right: 20px;
}

#image {
  margin: 50px;
  margin-left: 100px;
  padding: 150PX;
  background-color: #b1a79e;
 
}
.button {
  display: inline-block;
  clip-path: 0;
}
button {
  background-color: transparent;
  color: #3498db;
  padding: 10px 20px;
  border: 2px solid #3498db;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
}
button:hover {
  color: #2980b9;
  border-color: #2980b9;
}

.button-gradient {
  background: linear-gradient(to bottom, #3498db, #2980b9);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.button-gradient:hover {
  background: linear-gradient(to bottom, #2980b9, #1c6373);
}

.button-3d {
  background-color: #f39c12;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button-3d:hover {
  transform: translateY(-5px);
}

.button-rounded {
  background-color: #e74c3c;
  color: #fff;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: solid;
  font-size: 18px;
}
.button-rounded:hover {
  background-color: #c0392b;
}

.middle-division {
  display: inline-flex;
  background-color: aliceblue;
}
.square {
  margin: 50px;
  border-radius: 10%;
  background-color: transparent;
  border-color: #c0392b;
  border: 2px solid #3b82f6;
  height: 100px;
  width: 100px;
}
.cubeText {
  display: flexbox;
  margin: 50px;
}
#h1center {
  position: absolute;
  margin-left: 40%;
  
}
